* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url(./img//apple-laptop-notebook-office-39284.jpg) no-repeat center center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    bottom: 30px;
    width: 35rem;
    height: 35rem;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 50px #00000070;
}

.top-section {
    height: 80%;
    padding: 1rem 0.7rem;
    background: #2c2c54aa;
}

.message,
.notif {
    top: 10px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff50;
}

.message {
    right: 40px;
}

.notif {
    left: 40px;
}

.pic {
    height: 15rem;
    width: 15rem;
    margin: auto;
    padding-bottom: 1rem;
    border: 2px solid #2c3e50;
    border-radius: 50%;
    padding: 0.5rem;
    position: relative;
}


/* Special styles */

.pic:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #2c3e50;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    animation: wave 1.5s infinite linear;
}

@keyframes wave {
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tag {
    font-size: 18px;
    color: #222;
}

.bottom-section {
    position: relative;
    background: #f1f1f1;
    padding: 3rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.border {
    width: 0.1rem;
    height: 2.8rem;
    background: #000;
    margin: 0 0.8rem;
}

.bottom-section span {
    font-size: 1rem;
    display: block;
}

.social-media {
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
    z-index: 1;
}

.social-media i {
    width: 2.5rem;
    height: 2.5rem;
    background: #2c3e50;
    border-radius: 50%;
    color: #f1f1f1;
    font-size: 20px;
    line-height: 40px !important;
    margin: 0 10px;
}

.social-media i:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s linear;
}

.social-media i:hover:after {
    transform: scale(1.4);
    opacity: 0;
}